.App {
  background-color: #00aeff;
  width: 400px;
  height: 300px;
  -webkit-box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.76);
  box-shadow: 4px 4px 15px 0px rgba(0, 0, 0, 0.76);
  border-radius: 5px;
  padding: 25px;
  font-size: 18px;
}

form {
  display: flex;
  justify-content: center;
}

.form-input {
  padding: 5px;
  font-size: 18px;
  height: 35px;
  outline: none;
  border: none;
}

.form-btn {
  height: 35px;
  border: none;
  cursor: pointer;
  background-color: white;
  padding: 0 10px;
}

.form-btn:hover {
  background-color: #ececec;
}

.form-img {
  height: 14px;
}

.no-data-text {
  color: white;
  margin: 50px auto;
}

.no-data-text p {
  margin: 0;
  text-align: center;
}

.info-collection {
  padding-left: 40px;
  padding-top: 40px;
  color: white;
}

.info {
  display: flex;
}

.info p {
  margin: 0 0 15px 0;
}

.info-name {
  font-weight: 700;
}
